@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Estilos gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root{
    --color-green:#1DB954;
    --light-green: #1ed760;
 }

 /*Estilos gerais*/

 body{
    background-color: black;
    font-family: 'Roboto', sans-serif;

 }

 a{
     text-decoration: none;
     color: white;
 }

 ul{
     list-style: none;
 }

 .logo{
    height: 40px;
    width: auto;
}

 

 /*================================*/
 

/*MENU*/

#navbar{
    max-width: 1366px;
    margin: 20px auto;
    
}

.navbar-container{
    display: flex;
    margin:10px 100px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-items{
    display: flex;
 
}

.navbar-items-list{
    padding: 0 20px;
    font-weight: bold;
    
}

.navbar-items-list:nth-child(3){
    border-right: 1px solid white;
}


/*================================*/

/*MAIN*/
#main-container{
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/showcase.webp)center center/cover;
    background-blend-mode: color;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.466);
}

.main-content{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.main-content h1{
    margin-bottom: 10px;
    color: antiquewhite;
    font-size: 3rem;
    
}

.main-content p{
    margin-bottom: 10px;
    color: antiquewhite;
    font-weight: bold;
}

.main-content button{
    background-color: var(--light-green);
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    border: none;
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 1.2rem;
}

/*================================*/

/*SECTION*/

#section{
    max-width: 1366px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 62px;
    height: 400px;
    
    
}

.section-container{
    display: flex;
    justify-content: center;
    margin: 37px 70px 50px 0;
    
}

.section-items{
    margin: 12px 50px;
}

.topic-list{
    padding-bottom: 20px;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.section-items-list{
    padding-bottom: 20px;
    font-weight: lighter;
}



/*================================*/
/*SOCIALS*/

#socials{
    display: flex;
    padding-top: 40px;    
    
}

.link-social{
    display: flex;
    
    
   
}

.logo-social{
    width: auto;
    height: 52px;
    margin: 10px;
    background-color: gray;
    padding: 10px;
    border-radius: 25px;
}


/*================================*/

/*FOOTER*/

#footer{
    max-width: 1366px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

}

.footer-items{
    display: flex;
    margin: 0px 0px 10px 90px;
    height: 64px;
}

.policies{
    margin: 0 10px;
    font-size: 0.9rem;
    
}

.policies a{
    color: gray;
}

#country{
    max-width: 1366px;
    display: flex;
    justify-content: flex-end;
    margin-right: 123px;
    padding-bottom: 20px;
    
    
}

.country-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
#country li{
    display: flex;
    justify-content: end;
    color: gray;
}

#country li a{
    color: grey;
}



/*================================*/


@media(min-width: 1920px){
    #navbar {
        max-width: 1920px;
        margin: 20px auto;
    }

    .navbar-container {
        display: flex;
        margin: 10px 404px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
    }

    #main-container {
        max-width: 1920px;
    }

    .main-content h1 {
        margin-bottom: 10px;
        color: antiquewhite;
        font-size: 6rem;
    }

    .main-content p {
        margin-bottom: 10px;
        color: antiquewhite;
        font-size: 1.3rem;

    }
}